
/*======================================== config =================================*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

input {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@font-face {
    font-family: 'Antigoni Med';
    src: url('../fonts/AntigoniMed.eot');
    src: url('../fonts/AntigoniMed.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AntigoniMed.woff2') format('woff2'),
    url('../fonts/AntigoniMed.woff') format('woff'),
    url('../fonts/AntigoniMed.ttf') format('truetype'),
    url('../fonts/AntigoniMed.svg#AntigoniMed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.eot');
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Bold.woff2') format('woff2'),
    url('../fonts/Helvetica-Bold.woff') format('woff'),
    url('../fonts/Helvetica-Bold.ttf') format('truetype'),
    url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
body {
    color: #000000;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    @media (max-width: 991px) {
        padding-bottom: 56px !important;
    }

}
input, button{
    outline: none !important;
}
del {
    font-size: 12px;
    color: #999;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
li{
    list-style: none;
}

/*======================================== end config =================================*/
